*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.wrapper{
	transform: translateY(-16%);
}

/*sidebar and its contents*/

.wrapper .sidebar {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100vh;
	background: #161E54;
	padding: 30px 0px;
}

.wrapper .sidebar header {
	color: #FFA400;
	text-align: center;
	user-select: none;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 32px;
}

.wrapper .sidebar ul a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	color: #bdb8d7;
	box-sizing: border-box;
	border-bottom: 1px solid #bdb8d7;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
	background-color: #0F00FF;
}

.wrapper .sidebar ul li:hover a {
	color: #FFA400;
	text-decoration: underline;
}

.wrapper .sidebar .social_media{
	display: flex;
	transform: translateX(20%);
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*sidebar button show and hide action*/

#check {
	display: none;
}

label #btn, label #cancel {
	position: absolute;
	cursor: pointer;
	border-radius: 3px;
}

label #btn {
	left: 15px;
	top: 40px;
	font-size: 24px;
	color: #000;
	padding: 6px 12px;
	background: #D5D5D5;
	transition: all .5s;
}

label #cancel {
	z-index: 1111;
	left: -195px;
	top: 40px;
	font-size: 24px;
	color: #bdb8d7;
	padding: 4px 9px;
	background: #161E54;
	transition: all .5s ease;
}

#check:checked ~ .sidebar {
	left:0;
}

#check:checked ~ .main_content .header {
	padding-left: 70px;
}

#check:checked ~ .main_content {
	padding-left: 13vw;
}

#check:checked ~ label #btn {
	opacity: 0;
	pointer-events: none;
}

#check:checked ~ label #cancel {
	left: 195px;
}

@media(max-width:700px){
	#check:checked ~ .sidebar{
		width: 100%;
		align-items: center;
	}
	
	#check:checked ~ label #cancel {
		left: 85%;
	}
	
	#check:checked ~ .sidebar ul a{
		text-align: center;
	}

	#check:checked ~ .sidebar .social_media{
		transform: translateX(40%);
	}
}

/*main page content*/

.wrapper .main_content{
	transition: all .5s;
}

.wrapper .main_content .header {
	padding: 25px 25px 25px 70px;	
	background: #D5D5D5;
	color: #000;
	border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
	padding: 25px 25px 25px 25px;
	color: #000;
	line-height: 25px;
}

#task_info{
	font-size: 1.7vw;
}


/*original reference: https://www.youtube.com/watch?v=YesSVqjcDts */